.App {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px black solid;
  text-align: center;
  background-image: url('./download.jpg');
  color: white;
  height: 500px;
  width: 20%;
  border-radius: 10%;
}

#input {
  display: block;
  width: 200px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 18px 18px 18px 18px ;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}
.main{

}
.wedData{
  margin-top: 20px;
}